@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  height: 100%;
  background-color: #020617; /* slate-950 */
}

* {
  color: white !important; /* Forces all text white */
}

.text-muted {
  color: #9CA3AF !important; /* Light gray for subtitles */
}
